!!!
%html
  %head
    = title_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'vendor/custom.modernizr'
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }/
  %body.antialiased
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1= link_to 'Bitbox', root_path
      %section.top-bar-section
        %ul.right
          %li
            = link_to 'Sign In', '#'
    = yield
    = javascript_include_tag 'application'
